<div class="row">
  <div class="col-md-12">
    <div class="starter-template">
      <img src="https://i.imgur.com/Eczi7uK.jpg" class="img-responsive" alt="Responsive image" width="780" height="425">
      <h1>Welcome to the UPCOMING MOVIES TRACKER</h1>
        <div class="center">
          

        </div>
    </div>
  </div>
</div>